body {
	background: #475160;
	margin:0; /* Pongo 0 porque body por default tiene 8px*/
}

/*Menu*/
#nav {
	height: 40px;
	width: 96%;
	padding: 20px 2%;
}

#mobile {
	width: 50px;
	height: 50px;
	margin-top: -40px;
	float: right;
	cursor: pointer;
}

#mobile span {
	display: block;
	margin: 6px 0;
	border-radius: 5px;
	height: 7px;
	width: 100%;
	background: white;
}

.nav-mobile {
	display: none;
	width: 50%;
	height: 100%;
	position: fixed;
	background: white;
}
.nav-mobile ul li{
	list-style: none;
}
.nav-mobile ul li a {
	display: block;
	padding: 10px 0;
	color: black;
	text-decoration: none;
}
.nav-mobile ul li a:hover {
	color: #48D7B7;
}
/*Banner*/
#banner {
	background: #48D7B7;
	padding: 20px 0;
}

#banner h1 {
	font-family: Open Sans;
	margin: 0;
	margin-bottom: 6px;
	text-align: center;
	font-size: 27px;
}

#banner p {
	font-family: Open Sans;
	margin: 0;
	font-size: 16px;
	text-align: center;
	color: white;
}

#banner img {
	display: block;
	margin: 0 auto;
}
#nav ul{
	display: none;
}
/**********
Contact
*********/
#contact { 
	background: #F1F1F1;
	padding: 20px 0
}

#contact form { 
	margin: 0 10%;
	padding: 20px 10%;
	background: white;
}

#contact form label{ 
	font-size: 14px;
}

#contact form .inputs {
	border-radius: 5px;
	border: 1px solid #979797;
	margin-bottom: 6px;
	width: 100%;
	padding: 2px 3px
}

#contact form button {
	display: block;
	margin: 0 auto;
	background: #ff9801;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;	
	color: white;
} 


#contact form .error {
	color: red;
	display: none;
}
/* Cards Travels*/

.effect-rounded {
	border-radius: 15px;
	overflow: hidden;
}

#travel .card{
	width: 94%;
	margin: 20px 3%;
}
#travel .card figure{
	margin: 0; 
	position: relative;
}

#travel .card .content{
	background-color: white;
	padding: 20px 2%;

}
#travel .card .content a {
	display: block;
	width: 100%;
	color: #FF9900;
	text-align: center;
}

#travel .card .content ul li{
	list-style: none;
	margin-bottom: 10px;
}

#travel .card figure .price {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(49, 49, 49, 0.8);
	color: white;
	padding: 8px;
	font-size: 12px;
}

#travel .card img.picture{
	width: 100%; 
}

@media screen and (min-width:1000px) {
  /* reglas CSS */
  	#travel {
  		display: flex;
  		justify-content: center;
  	}
  	#mobile {
  		display: none;
  	}
  	#travel .card{
  		flex: 1;
		width: 200px;
		margin: 20px 10px;
	}
	#brand {
		float: left;
	}
	#nav ul{
		display: flex;
		float: right;
		width: 70%;
	}
	#nav ul li{
		flex: 1;
		list-style: none;
	}
	#nav ul li a{ 
		text-decoration: none;

		color: white;
	}
}


